<a href="https://colab.research.google.com/github/mmasld/bmt_python/blob/main/21419_9%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series(    [1, 2, 5, np.nan, 6, 8   ]    )

In [4]:
s

0    1.0
1    2.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
type(s)

pandas.core.series.Series

In [6]:
type([])

list

In [7]:
type('asdfss')

str

In [9]:
pd.date_range('20210430', periods=6)

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [10]:
range(5)

range(0, 5)

In [11]:
dates = pd.date_range('20210430',periods=6)

In [12]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [14]:
df

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-03 -1.098023  1.196248 -0.279198  0.071982
2021-05-04 -1.695397  0.571189  0.005820  0.478246
2021-05-05  0.079963  0.951493  1.546574 -0.969445

In [15]:
np.random.randn(6, 4)

array([[ 1.04690507, -0.51275172,  0.2956035 , -0.50336758],
       [ 0.25555316,  0.82559624, -0.13172239, -0.30340623],
       [-1.18797528,  0.25901664, -0.01363875, -0.67329123],
       [ 1.12988163,  0.97227261, -0.03037418, -0.83515942],
       [ 1.3013538 ,  0.84642227, -0.07730209,  0.94929984],
       [-1.43560467, -0.20957842,  2.01235973, -0.6348749 ]])

In [22]:
df2 = pd.DataFrame(
    {
        'A': 1.,
        'B': pd.Timestamp('20201113'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
     }
)

In [23]:
df2

     A          B    C  D      E    F
0  1.0 2020-11-13  1.0  3   test  foo
1  1.0 2020-11-13  1.0  3  train  foo
2  1.0 2020-11-13  1.0  3   test  foo
3  1.0 2020-11-13  1.0  3  train  foo

In [20]:
type(df2)

pandas.core.frame.DataFrame

In [21]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [25]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [26]:
df

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-03 -1.098023  1.196248 -0.279198  0.071982
2021-05-04 -1.695397  0.571189  0.005820  0.478246
2021-05-05  0.079963  0.951493  1.546574 -0.969445

In [28]:
df.head()

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-03 -1.098023  1.196248 -0.279198  0.071982
2021-05-04 -1.695397  0.571189  0.005820  0.478246

In [29]:
df.tail()

                   A         B         C         D
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-03 -1.098023  1.196248 -0.279198  0.071982
2021-05-04 -1.695397  0.571189  0.005820  0.478246
2021-05-05  0.079963  0.951493  1.546574 -0.969445

In [31]:
df.tail(2)

                   A         B         C         D
2021-05-04 -1.695397  0.571189  0.005820  0.478246
2021-05-05  0.079963  0.951493  1.546574 -0.969445

In [32]:
df

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-03 -1.098023  1.196248 -0.279198  0.071982
2021-05-04 -1.695397  0.571189  0.005820  0.478246
2021-05-05  0.079963  0.951493  1.546574 -0.969445

In [33]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [35]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [36]:
df.values

array([[ 1.87530571,  0.61166051, -0.13226151,  1.14577841],
       [-0.763226  , -1.79653664, -0.85720579,  1.02401159],
       [ 1.2577658 , -0.22883329,  0.83365296,  0.08362033],
       [-1.09802295,  1.19624794, -0.27919791,  0.07198218],
       [-1.69539721,  0.57118925,  0.00581981,  0.47824616],
       [ 0.07996328,  0.95149269,  1.5465742 , -0.96944457]])

In [37]:
df

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-03 -1.098023  1.196248 -0.279198  0.071982
2021-05-04 -1.695397  0.571189  0.005820  0.478246
2021-05-05  0.079963  0.951493  1.546574 -0.969445

In [39]:
df.T

   2021-04-30  2021-05-01  2021-05-02  2021-05-03  2021-05-04  2021-05-05
A    1.875306   -0.763226    1.257766   -1.098023   -1.695397    0.079963
B    0.611661   -1.796537   -0.228833    1.196248    0.571189    0.951493
C   -0.132262   -0.857206    0.833653   -0.279198    0.005820    1.546574
D    1.145778    1.024012    0.083620    0.071982    0.478246   -0.969445

In [42]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-03 -1.098023  1.196248 -0.279198  0.071982
2021-05-04 -1.695397  0.571189  0.005820  0.478246
2021-05-05  0.079963  0.951493  1.546574 -0.969445

In [43]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2021-05-05  0.079963  0.951493  1.546574 -0.969445
2021-05-04 -1.695397  0.571189  0.005820  0.478246
2021-05-03 -1.098023  1.196248 -0.279198  0.071982
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-04-30  1.875306  0.611661 -0.132262  1.145778

In [45]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-03 -1.098023  1.196248 -0.279198  0.071982
2021-05-04 -1.695397  0.571189  0.005820  0.478246
2021-05-05  0.079963  0.951493  1.546574 -0.969445

In [46]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2021-04-30  1.145778 -0.132262  0.611661  1.875306
2021-05-01  1.024012 -0.857206 -1.796537 -0.763226
2021-05-02  0.083620  0.833653 -0.228833  1.257766
2021-05-03  0.071982 -0.279198  1.196248 -1.098023
2021-05-04  0.478246  0.005820  0.571189 -1.695397
2021-05-05 -0.969445  1.546574  0.951493  0.079963

In [47]:
df

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-03 -1.098023  1.196248 -0.279198  0.071982
2021-05-04 -1.695397  0.571189  0.005820  0.478246
2021-05-05  0.079963  0.951493  1.546574 -0.969445

In [48]:
df.sort_values(by='B')

                   A         B         C         D
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-04 -1.695397  0.571189  0.005820  0.478246
2021-04-30  1.875306  0.611661 -0.132262  1.145778
2021-05-05  0.079963  0.951493  1.546574 -0.969445
2021-05-03 -1.098023  1.196248 -0.279198  0.071982

In [49]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [50]:
df

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-03 -1.098023  1.196248 -0.279198  0.071982
2021-05-04 -1.695397  0.571189  0.005820  0.478246
2021-05-05  0.079963  0.951493  1.546574 -0.969445

In [53]:
df['C']

2021-04-30   -0.132262
2021-05-01   -0.857206
2021-05-02    0.833653
2021-05-03   -0.279198
2021-05-04    0.005820
2021-05-05    1.546574
Freq: D, Name: C, dtype: float64

In [56]:
df[ ['A','C'] ]

                   A         C
2021-04-30  1.875306 -0.132262
2021-05-01 -0.763226 -0.857206
2021-05-02  1.257766  0.833653
2021-05-03 -1.098023 -0.279198
2021-05-04 -1.695397  0.005820
2021-05-05  0.079963  1.546574

In [57]:
df[ ['A','B','D']]

                   A         B         D
2021-04-30  1.875306  0.611661  1.145778
2021-05-01 -0.763226 -1.796537  1.024012
2021-05-02  1.257766 -0.228833  0.083620
2021-05-03 -1.098023  1.196248  0.071982
2021-05-04 -1.695397  0.571189  0.478246
2021-05-05  0.079963  0.951493 -0.969445

In [58]:
df

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-03 -1.098023  1.196248 -0.279198  0.071982
2021-05-04 -1.695397  0.571189  0.005820  0.478246
2021-05-05  0.079963  0.951493  1.546574 -0.969445

In [60]:
df[0:3]

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-05-02  1.257766 -0.228833  0.833653  0.083620

In [63]:
df[0:1]

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778

In [65]:
df['20210430':'20210430']

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778

In [66]:
df

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778
2021-05-01 -0.763226 -1.796537 -0.857206  1.024012
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-03 -1.098023  1.196248 -0.279198  0.071982
2021-05-04 -1.695397  0.571189  0.005820  0.478246
2021-05-05  0.079963  0.951493  1.546574 -0.969445

In [67]:
df.loc[dates[0]]

A    1.875306
B    0.611661
C   -0.132262
D    1.145778
Name: 2021-04-30 00:00:00, dtype: float64

In [70]:
df['A']

2021-04-30    1.875306
2021-05-01   -0.763226
2021-05-02    1.257766
2021-05-03   -1.098023
2021-05-04   -1.695397
2021-05-05    0.079963
Freq: D, Name: A, dtype: float64

In [73]:
df.loc[:,'A']

2021-04-30    1.875306
2021-05-01   -0.763226
2021-05-02    1.257766
2021-05-03   -1.098023
2021-05-04   -1.695397
2021-05-05    0.079963
Freq: D, Name: A, dtype: float64

In [75]:
df.loc['20210430':'20210503', 'A']

2021-04-30    1.875306
2021-05-01   -0.763226
2021-05-02    1.257766
2021-05-03   -1.098023
Freq: D, Name: A, dtype: float64

In [76]:
df.loc['20210430':'20210503',['A', 'C', 'D']]

                   A         C         D
2021-04-30  1.875306 -0.132262  1.145778
2021-05-01 -0.763226 -0.857206  1.024012
2021-05-02  1.257766  0.833653  0.083620
2021-05-03 -1.098023 -0.279198  0.071982

In [77]:
df.at[dates[0], 'A']

1.8753057092015468

In [78]:
df.iloc[3]

A   -1.098023
B    1.196248
C   -0.279198
D    0.071982
Name: 2021-05-03 00:00:00, dtype: float64

In [80]:
df.loc[dates[3]]

A   -1.098023
B    1.196248
C   -0.279198
D    0.071982
Name: 2021-05-03 00:00:00, dtype: float64

In [88]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [90]:
df.iloc[0:3, 1:3]

                   B         C
2021-04-30  0.611661 -0.132262
2021-05-01 -1.796537 -0.857206
2021-05-02 -0.228833  0.833653

In [92]:
df.A

2021-04-30    1.875306
2021-05-01   -0.763226
2021-05-02    1.257766
2021-05-03   -1.098023
2021-05-04   -1.695397
2021-05-05    0.079963
Freq: D, Name: A, dtype: float64

In [93]:
df.A > 0

2021-04-30     True
2021-05-01    False
2021-05-02     True
2021-05-03    False
2021-05-04    False
2021-05-05     True
Freq: D, Name: A, dtype: bool

In [94]:
df[df.A > 0]

                   A         B         C         D
2021-04-30  1.875306  0.611661 -0.132262  1.145778
2021-05-02  1.257766 -0.228833  0.833653  0.083620
2021-05-05  0.079963  0.951493  1.546574 -0.969445

In [95]:
df > 0

                A      B      C      D
2021-04-30   True   True  False   True
2021-05-01  False  False  False   True
2021-05-02   True  False   True   True
2021-05-03  False   True  False   True
2021-05-04  False   True   True   True
2021-05-05   True   True   True  False

In [99]:
df[df.True]

SyntaxError: ignored