<a href="https://colab.research.google.com/github/mmasld/bmt_python/blob/main/21519_11%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
dates = pd.date_range('20210514',periods=6)
dates

DatetimeIndex(['2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
               '2021-05-18', '2021-05-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [ ]:
df

                   A         B         C         D
2021-05-14 -1.290422  2.065422 -1.555964 -0.677846
2021-05-15  0.628101  0.461287  0.886251 -0.955230
2021-05-16 -0.829362 -1.100398 -0.076297 -0.885048
2021-05-17 -0.617251 -0.835951 -0.091531 -1.628247
2021-05-18 -0.768831 -1.487236  0.288536 -1.066980
2021-05-19 -0.603129  0.909080 -0.767847 -1.524740

In [ ]:
df.mean(0)

A   -0.580149
B    0.002034
C   -0.219475
D   -1.123015
dtype: float64

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [ ]:
df.apply(np.cumsum)

                   A         B         C         D
2021-05-14 -1.688416  0.441398 -1.320148 -0.778041
2021-05-15 -2.662052  1.809251 -2.410409 -0.530676
2021-05-16 -1.860082  0.937001 -2.635681 -1.666991
2021-05-17 -0.836763  0.984454 -1.914028 -1.914671
2021-05-18  0.798256  1.067112 -3.126064 -0.085178
2021-05-19  0.822376 -1.291027 -5.531030  1.230110

In [ ]:
df.apply(lambda x: x.max() - x.min())

A    3.323435
B    3.725992
C    3.126619
D    2.965807
dtype: float64

In [12]:
df = pd.DataFrame(np.random.randn(10, 4))

In [13]:
dates = pd.date_range('20210514', periods=6)

In [14]:
df = pd.DataFrame(np.random.randn(10, 4))

In [16]:
df

          0         1         2         3
0  0.014270  0.390139  2.098102 -1.904536
1 -1.383222  1.239143  1.504730 -1.587042
2  1.384429  0.887934  1.919199  0.909833
3 -1.416883  0.408836  0.166188  0.543521
4 -1.735129 -1.040386 -0.842994  0.807558
5  0.911961  0.186060  1.479336 -0.895055
6 -0.442865 -0.501745  0.305606 -0.493552
7 -1.294225 -0.856191 -1.443463 -1.206738
8 -0.801185 -0.805819  1.552480  0.940118
9  2.453099 -2.300170  0.599994  0.970520

In [17]:
df[:3]

          0         1         2         3
0  0.014270  0.390139  2.098102 -1.904536
1 -1.383222  1.239143  1.504730 -1.587042
2  1.384429  0.887934  1.919199  0.909833

In [19]:
df[3:7]

          0         1         2         3
3 -1.416883  0.408836  0.166188  0.543521
4 -1.735129 -1.040386 -0.842994  0.807558
5  0.911961  0.186060  1.479336 -0.895055
6 -0.442865 -0.501745  0.305606 -0.493552

In [20]:
 df[7:]

          0         1         2         3
7 -1.294225 -0.856191 -1.443463 -1.206738
8 -0.801185 -0.805819  1.552480  0.940118
9  2.453099 -2.300170  0.599994  0.970520

In [21]:
pieces = [df[:3], df[3:7], df[7:]]

In [22]:
pieces

[          0         1         2         3
 0  0.014270  0.390139  2.098102 -1.904536
 1 -1.383222  1.239143  1.504730 -1.587042
 2  1.384429  0.887934  1.919199  0.909833,
           0         1         2         3
 3 -1.416883  0.408836  0.166188  0.543521
 4 -1.735129 -1.040386 -0.842994  0.807558
 5  0.911961  0.186060  1.479336 -0.895055
 6 -0.442865 -0.501745  0.305606 -0.493552,
           0         1         2         3
 7 -1.294225 -0.856191 -1.443463 -1.206738
 8 -0.801185 -0.805819  1.552480  0.940118
 9  2.453099 -2.300170  0.599994  0.970520]

In [23]:
print(pd.concat(pieces))

          0         1         2         3
0  0.014270  0.390139  2.098102 -1.904536
1 -1.383222  1.239143  1.504730 -1.587042
2  1.384429  0.887934  1.919199  0.909833
3 -1.416883  0.408836  0.166188  0.543521
4 -1.735129 -1.040386 -0.842994  0.807558
5  0.911961  0.186060  1.479336 -0.895055
6 -0.442865 -0.501745  0.305606 -0.493552
7 -1.294225 -0.856191 -1.443463 -1.206738
8 -0.801185 -0.805819  1.552480  0.940118
9  2.453099 -2.300170  0.599994  0.970520

In [24]:
left = pd.DataFrame({'key':['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key':['foo', 'foo'], 'rval': [4, 5]})